@charset "UTF-8";

/*의사 헤더
---------------------*/
#doctor_header{
	width : 100%;
	position : relative;
	background-image:url(../images/doctorMain2.jpg);
	background-position: center top;
	padding : 100px 0;
	
}
#doctor_header_notice{
	background-color : gray;
	width : 600px;
	margin : auto;
	padding : 70px 0;
	position: relative;
    text-align: center;
    border: 15px solid rgba(255,255,255,0.3);
    background: rgba(10,20,30,0.6);
    font-weight : bold;
    font-size : 40px;
    color : white;
}

#doctor_title{
	text-align : center;
}
#doctor_title h1{
	margin-top : 50px;
	margin-bottom : 20px;
	font-size : 40px;
}
#doctor_title img{
	width : 600px;
}

/*의사 리스트
---------------------*/
.doc-list{
	width:1250px;
	margin-left:100px;
}
.doc{
	width:88%;
	float:left;
	margin:auto;
	cursor:pointer;
}
.doc:hover{
	background-color:rgba(122,122,122,0.4);
}
.doc_photo{
	float:left;
	margin:20px 0 0 10px;
}
.doc-name{
	display:inline-block;
	margin-left:80px;
	margin-top:130px;
	font-size:25px;
	color:#4a4a4a;
}
.doc_detail{
	margin:20px 0 0 50px
}
.doc_content{
	margin:200px 0 0 450px;
}
.doc_content li{
	text-align:left;
	margin:20px auto;
}
.doc-end{
	clear:both;
	padding-right:150px;
}
.align-right{
	text-align:right;
}
.result-display{
	width:400px;
	height:200px;
	margin:50px auto;
	border:1px solid #000;
	display:flex;
	align-items:center;
	justify-content:center;	
}