@charset "UTF-8";
/*의사 리스트
---------------------*/
.doc-list{
	width:1250px;
	margin-left:100px;
}
.doc{
	width:88%;
	float:left;
	margin:auto;
	cursor:pointer;
}
.doc:hover{
	background-color:rgba(122,122,122,0.4);
}
.doc_photo{
	float:left;
	margin:20px 0 0 10px;
}
.doc-name{
	display:inline-block;
	margin-left:80px;
	margin-top:130px;
	font-size:25px;
	color:#4a4a4a;
}
.doc_detail{
	margin:20px 0 0 50px
}
.doc_content{
	margin:200px 0 0 450px;
}
.doc_content li{
	text-align:left;
	margin:20px auto;
}
.doc-end{
	clear:both;
	padding-right:150px;
}
.align-right{
	text-align:right;
}
.result-display{
	width:400px;
	height:200px;
	margin:50px auto;
	border:1px solid #000;
	display:flex;
	align-items:center;
	justify-content:center;	
}