@charset "UTF-8";

/*의사 상세정보
---------------------*/
.content-main{
	margin-bottom:30px;
}
.doc-detail{
	width:1200px;
	margin-left:150px;
}
.doc{
	width:85%;
	float:left;
	margin:auto;
	cursor:pointer;
}
.doc-detail-photo{
	width:500px;
	float:left;
	margin:0 50px 0 10px;
}
#doc_name{
	font-size:50px;
	color:black;
	font-weight:bold;
	margin-bottom:30px;
}
.doc-content{
	margin:10px 0 0 350px;
	color:#4a4a4a;
}
.doc-content li{
	text-align:left;
	margin:10px auto;
	width:400px;
}
.modify_doc{
	text-align:center;
	border:1px solid gray;
	border-radius:10px 10px 10px 10px;
	width:80px;
	height:40px;
	line-height:40px;
	font-weight:bold;
	cursor:pointer;
}
.reserve_doc{
	text-align:center;
	border:1px solid gray;
	border-radius:10px 10px 10px 10px;
	width:80px;
	height:40px;
	line-height:40px;
	font-weight:bold;
	cursor:pointer;
}
.reserve_doc:hover, .modify_doc:hover{
	background-color:rgba(122,122,122,0.4);
}
.doc-end{
	clear:both;
	padding-right:150px;
}

/*의사 정보변경 비밀번호 체크
---------------------*/
.check-display{
	width:800px;
	height:200px;
	margin:70px auto;
	border:1px solid #000;
	display:flex;
	align-items:center;
	justify-content:center;	
}

/*의사 정보변경
---------------------*/
.page-main{
	margin: 0 auto;
	text-align:center;
}
.content-main{
	margin: 0 auto;
}
.form-display{
	width:800px;
	height:350px;
	margin:50px auto;
	border:1px solid #000;
	display:flex;
	align-items:center;
	justify-content:center;	
}
form ul li{
	margin:20px auto;
	padding:10px auto;
	font-size:11pt;
	font-weight:bold;
}
.align-center{
	text-align:center;
}
