@charset "UTF-8";


.page-main{
	background:#FFFFFF;
	margin:40px 0;
	border-radius:5px;
	min-height:650px;
}
.content-main{
	padding:10px 20px;
}

.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}

.write_btn{
   height:35px;
   width:100px;
   color :ㅣblack;
   font-weight : bold;
   padding : 10px 30px;
   border-radius: 5px;
   border-width:0.5px;
   cursor : pointer;
   border-color:rgb(184, 184, 184);
   border-style:solid;
}
.write_btn:active{
   background : #008d62;
}

.content-main{
   width:1200px;
   margin:0 auto;
   position : relative;
   margin-top:20px;
   margin-bottom: 300px;
}



/*테이블*/
table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    margin-top:10px;
    margin-bottom: 10px;
  }
th, td {
    border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    padding: 10px;
  }

 

 
.content{
	text-align:center;
	margin-top:40px;
	margin-bottom: 100px;
}

