@charset "UTF-8";
*{
	margin : 0;
	padding : 0;
	list-style : none;
	text-decoration : none;
	font-family : 'Noto Sans KR', sans-serif;
}

/*푸터*/
.main{
	margin: 15px;
	width : 100%;
	min-width : 1500px;
	position : relative;
	height: 160px;
}
.main_f {
	font-weight : bold;
	text-align : center;
	justify-content: space-between;
	font-size : 110%;
	height : inherit;
	color:red;
}
#menu_f a:hover{
	color : black;
}
#menu_f, #menu_cf, #menu_f a{
	color : #4f4f4f;
}



