@charset "UTF-8";
*{
	list-style : none;
	text-decoration : none;
	border-collapse : none;
	margin : 0;
	padding : 0;
	color : black;
}
.wrap{
	background-color:transparent;
}
.header{
	width : 100%;
	margin : 0 auto;
}
.nav_bar{
	display : flex;
	width : 1500px;
	margin : auto;
	height : 50px;
}
.title{
	width : 300px;
	height: 50px;
	margin : auto;
	line-height : 50px;
	text-align : center;
	font-size : 14pt;
	letter-spacing : 4px;
}
.menu{
	display : flex;
	width : calc(1300px - 300px);
	line-height : 50px;
	height: 50px;
	justify-content :space-around;
}
.menu li{
	margin-left : 80px;
}
.menu li a{
	font-weight : bold;
	font-size : 13pt;
}
.loginBar{
	margin-left : 30px;
	font-weight : bold;
	font-size : 12pt;
	text-align : right;
}
.loginBar span {
	margin-left : 5px;
}