@charset "UTF-8";

/* 마이페이지 */
*{
	margin:0;
	padding: 0;
}
body{
	width: 100vw;
	background: white;
	z-index: 0;
}
/* 마이페이지-상단 */
.content{
	width: 760px;
	margin: 0 auto;
	margin-top: 5%;
	height: 100vh;
}
.content .content-head{
	width: 100%;
	padding: 20px 0 50px 0;
}
.content .content-head p{
	color: black;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
/* 마이페이지-중단 */
/* 프로필사진 */
.content .content-middle{
	width: 100%;
	height: 300px;
	margin-bottom: 100px;
}
.middle-left{
	float: left;
	width: 250px;
}
.middle-left .my-photo{
	width: 250px; 
	height: 250px;
	object-fit: cover;
	object-position:top;
	border-radius:50%;
}
.middle-left #photo_edit{
	width: 250px; /* 프로필사진과 줄 맞추기 */
	margin-top: 30px;
	height: 30px;
	background: white;
	border: 1px solid #898989;
	cursor: pointer;
	font-size: 15px;
	color: #7b7b7b;
}
.middle-left #photo_edit:hover{
	color: white;
	background: #898989;
}
.middle-left .photo-button{
	width: 100%;
	margin-top: 10px;
	z-index: 10;
	display: absolute;
}
.middle-left .photo-button input{
	margin-bottom: 3px;
	padding: 3px;
}
.middle-left .photo-button input[type="file"]{ /*파일이름 뜨는 란*/
	border: 0.5px solid black;
}

/* 바로가기 리스트 */
.middle-right{
	float: right;
}
.middle-right ul li{
	display: inline-block;
	width: 200px;
	background: white;
	margin: 0 0 20px 0;
	height: 110px;
	text-align: center;
	border: 1px solid #898989;
}
.middle-right ul li:nth-child(1),
.middle-right ul li:nth-child(3){
	margin-right: 17px;
}
.middle-right ul li a{
	line-height: 110px;
	font-size: 20px;
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.middle-right ul li a:hover{
	color: grey;
}
/* 마이페이지-하단 */
.content .content-bottom{
	width: 100%;
	height: 200px;
}
.content .content-bottom p{
	color: black;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
}
.content .content-bottom ul{
	width: 700px;
	height: 200px;
	border: 1px solid #898989;
	margin: 0 auto;
	padding: 30px;
}
.content .content-bottom ul li{
	font-size: 17px;
	margin-bottom: 7px;
}
.content .content-bottom input{
	font-size: 15px;
	margin: 20px 0 150px 0;
	height: 30px;
	background: white;
	border: 1px solid #898989;
	cursor: pointer;
	color: #7b7b7b; 
	width: 220px;
}
.content .content-bottom input:hover{
	cursor: pointer;
	color: white;
	background: #898989;
}

