@charset "UTF-8";

*{
	margin:0;
	padding: 0;
}
body{
	width: 100vw;
	background: white;
}

/* 회원삭제 폼, 비밀번호 변경 폼 */
.content{
	width: 1200px;
	margin: 0 auto;
	margin-top: 5%;
}
.content .content-head{
	width: 100%;
	padding: 20px 0 50px 0;
}
.content .content-head p{
	color: black;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.content .content-main{
	width: 100%;
	height: 300px;
	display: flex;
}
.content form{
	width: 700px;
	height: 300px;
	border: 1px solid #797979;
	margin: 0 auto;
}
.content form ul{
	height: 150px;
	padding: 50px 0 0 0;
}
.content form li{
	height: 50px;
	padding: 0 170px 0 110px;
	float: right;
}
.content form li label{
	width: 80px;
	height: 30px;
	font-size: 15px;
	color: black;
}
.content form li input{
	width: 300px;
	height: 30px;
	font-size: 12px;
	color: black;
}
.content .main-button{
	width: 100%;
	height: 50px;
}
.content .main-button input{
	font-size: 15px;
	background: white;
	height: 30px;
	padding: 3px;
	border: 1px solid #797979;
	width: 120px;
}
.content .main-button input:hover{
	cursor: pointer;
	background: #7b7b7b;
	color: white;
}
.content .main-button input[type="submit"]{
	float: left;
	margin-left: 225px;
}
.content .main-button input[type="button"]{
	float: right;
	margin-right: 170px;
}


/* 개인정보 변경 폼 */
.inform{
	width: 1200px;
	margin: 0 auto;
	margin-top: 5%;
}
.inform .inform-head{
	width: 100%;
	padding: 20px 0 50px 0;
}
.inform .inform-head p{
	color: black;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.inform .inform-main{
	width: 100%;
	height: 300px;
	display: flex;
}
.inform form{
	width: 700px;
	height: 410px;
	border: 1px solid #797979;
	margin: 0 auto;
	padding: 30px 0 30px 0;
}

.inform form li{
	height: 50px;
	padding: 0 170px 0 110px;
	float: right;
	margin-bottom: 5px;
}
.inform form li label{
	width: 80px;
	height: 30px;
	font-size: 15px;
	color: black;
}
.inform form li input{
	width: 300px;
	height: 30px;
	font-size: 12px;
	color: black;
}
.inform .main-button{
	width: 100%;
	height: 50px;
}
.inform .main-button input{
	font-size: 15px;
	background: white;
	height: 30px;
	padding: 3px;
	border: 1px solid #797979;
	width: 120px;
}
.inform .main-button input:hover{
	background: #7b7b7b;
	color: white;
}
.inform .main-button input[type="submit"]{
	float: left;
	margin-left: 225px;
	cursor: pointer;
}
.inform .main-button input[type="button"]{
	float: right;
	margin-right: 170px;
	cursor: pointer;
}

/* 리뷰 리스트 */
.content .content-middle{
	width: 700px;
	margin: 0 auto;
}
.content .content-middle table{
	width: 100%;
	border-spacing: 0;
    border-collapse: collapse;
}
.content .content-middle table td {
	width: 100%;
	height: 50px;
	text-align: center;
	border: 0.5px solid black;
	border-spacing: 0;
    border-collapse: collapse;
}
.content .content-middle table .table-title{ /* 첫번째 줄만 */
	background: #f4f4f4;
}
.content .content-middle table .first-td{ /*작성일*/
	width: 20%;
}
.content .content-middle table .second-td{ /*작성내용*/
	width: 80%;
}
.content .content-button{
	width: 100%;
	height: 100px;
}
.content .content-button input{
	font-size: 15px;
	background: white;
	height: 30px;
	padding: 3px;
	border: 1px solid #797979;
	margin-left: 310px;
	margin-top: 50px;
	width: 120px;
}
.content .content-button input:hover{
	background: #797979;
	color: white;
	cursor: pointer;
}

/* 병원예약 정보 리스트 */
/* 각각의 행 간격 변경 */
.content .content-middle table td:first-child{ /* 예약날짜 */
	width: 15%;
}
.content .content-middle table td:nth-child(2){ /* 예약시간 */
	width: 15%;
}
.content .content-middle table td:nth-child(3){ /* 담당의사 */
	width: 15%;
}
.content .content-middle table td:last-child{ /* 시술내용 */
	width: 55%;
}



